body {
    padding: 10px;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    background-image: url("D:/HAND_CRICKET/logo.jpg");
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    position: relative;
}

body::before {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: rgba(0, 0, 0, 0.5); /* Darken with black overlay */
    z-index: -1; /* Ensure it is behind the content */
}

.content {
    position: relative;
    z-index: 1; /* Content is above the overlay */
}

.box {
    height: 300px;
    width: 600px;
    border: turquoise ;
    border-radius: 40px;
    padding: 1%;
    position: absolute;
    top : 0px;
    color: #d7dd18; /* Make text inside the box visible */
    z-index: 1; /* Ensure the box is above the transparent background */
}

.wname {
    font-size: 48px; 
    font-weight: bold;
    font-style: italic;
    color: #d7dd18; 
    text-align: center; 
}
.no_of{
    display: flex;
    justify-content: center;
    gap: 5px;
}
#numberInput{
    background-color:rgba(255, 255, 255, 0.1);
    width: 60px;
    height: 40px;
    font-size: large;

}

.a21{
    color: rgb(69, 84, 221);
    font-weight: bold;
    font-size: 25px;
}

.butt{
    height: 30px;
    width: 120px;
    background-color: chartreuse;
    font-style: oblique;
    font-weight: bolder;
}
#numberInput{
    font-size: 30px;
    color: white;
    font-style: inherit;
    
}